%nav.navbar.navbar-toggleable-xl.navbar-light.bg-faded
  = link_to t('application_name'), root_path, class: 'navbar=brand'

  -# %ul.navbar-nav.ml-auto
  -#   %li.nav-item.active
  -#     %a.nav-link{:href => "#"}
  -#       Log in
  -#   %li.nav-item
  -#     %a.nav-link{:href => "#"}
  -#       Log out
